# Exploration of Netflix Prize Dataset

In [1]:
import pandas as pd
pd.set_option('display.float_format', lambda x: '%.3f' % x)
import numpy as np
import math
import re
from scipy.sparse import csr_matrix
import matplotlib.pyplot as plt
import seaborn as sns
from surprise import Reader, Dataset, SVD, evaluate

## Load Dataset, Cleanup and Merge

In [2]:
combined_data_1_df = pd.read_csv("../netflix-prize-data/combined_data_1.txt", 
                          header = None, 
                          names = ['Cust_Id', 'Rating'], usecols = [0,1])
combined_data_1_df["Rating"] = combined_data_1_df["Rating"].astype(float)

In [3]:
combined_data_1_df.head()

   Cust_Id  Rating
0       1:     nan
1  1488844   3.000
2   822109   5.000
3   885013   4.000
4    30878   4.000

## Load Movie Titles

In [5]:
df_title = pd.read_csv('../netflix-prize-data/movie_titles.csv', encoding = "ISO-8859-1", header = None, names = ['Movie_Id', 'Year', 'Name'])
df_title.set_index('Movie_Id', inplace = True)
print (df_title.head())

             Year                          Name
Movie_Id
1        2003.000               Dinosaur Planet
2        2004.000    Isle of Man TT 2004 Review
3        1997.000                     Character
4        1994.000  Paula Abdul's Get Up & Dance
5        2004.000      The Rise and Fall of ECW